.container {
  max-width: 960px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 0%;
  bottom: -10%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* .product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
} */

.product-device-2 {
  top: -8%;
  right: auto;
  bottom: 0;
  left: 3%;
  background-color: #e5e5e5;
}

.device-background-1 {
  background-image: url(img/cmc.png);
  background-size: 300px;
}

.device-background-2 {
  background-image: url(img/lindy.png);
  background-size: 300px;
}


.device-background-3 {
  background-image: url(img/dinos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.device-background-4 {
  background-image: url(img/tokens.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.device-background-5 {
  background-image: url(img/how.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.device-background-6 {
  background-image: url(img/portfolio.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.device-background-7 {
    background-image: url(img/tokenomics.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.device-background-8 {
    background-image: url(img/community.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*
 * Extra utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal>* {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal>* {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}